extends layout

block content
    h1 2D animation
    if user
        a(href='./animation/upload') Upload
        each val in files  
            ul
                li
                    img(src=`/animation/image/${val._id}`)
    else
        each val in files  
            ul
                li
                    img(src=`/animation/image/${val._id}`)