extends layout

block content
    h1 2D Animation
    if user
        .upload-container
            a(href='./animation/upload')
                button.btn.btn-outline-primary(type='button') Upload
        each val in files  
            ul
                li
                    img(src=`/animation/image/${val._id}`)
    else
        each val in files  
            ul
                li
                    img(src=`/animation/image/${val._id}`)