doctype html
html
  head
    title Jillian Sy
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap' rel='stylesheet')
    script(src='https://unpkg.com/phosphor-icons')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
  body.bg-dark
    nav.navbar.navbar-expand-lg.navbar-light.bg-dark
      .container-fluid
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo02.collapse.navbar-collapse
          ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item.active
              a.nav-link(href='/home#home')
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/modeling') 3D Modeling
            li.nav-item
              a.nav-link(href='/animation') 2D Animation
            li.nav-item
              a.nav-link(href='/illustration') Illustration
            li.nav-item
              a.nav-link(href='/home#skill-experience') Skills
            li.nav-item
              a.nav-link(href='/home#about-me') About Me
            li.nav-item
              a.nav-link(href='/home#contact') Contact
            if user
              li.nav-item 
                a.nav-link(href="/home/message_inquiries") Messages
              li.nav-item
                a.nav-link(href="/home/update") Edit
              li.nav-item
                a.nav-link(href='/users/logout') Logout
            else
              li.nav-item 
                a.nav-link(href="/users/login") Login
    //- nav.navbar.navbar-expand-lg.navbar-light.bg-dark
    //-   button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    //-     span.navbar-toggler-icon
    //-   #navbarTogglerDemo02.collapse.navbar-collapse
    //-     ul.navbar-nav.me-auto.mb-2.mb-lg-0
    //-       li.nav-item
    //-         a#home.nav-link(aria-current='page' href='/home#home') Home
    //-       li.nav-item
    //-         a.nav-link(href='/modeling') 3D Modeling
    //-       li.nav-item
    //-         a.nav-link(href='/animation') 2D Animation
    //-       li.nav-item
    //-         a.nav-link(href='/illustration') Illustration
    //-       li.nav-item
    //-         a.nav-link(href='/home#skill-experience') Skills
    //-       li.nav-item
    //-         a.nav-link(href='/home#about-me') About Me
    //-       li.nav-item
    //-         a.nav-link(href='/home#contact') Contact
    //-     ul.navbar-nav.ml-auto
    //-       if user
    //-         li.nav-item 
    //-           a.nav-link(href="/home/message_inquiries") Messages
    //-         li.nav-item
    //-           a.nav-link(href="/home/update") Edit
    //-         li.nav-item
    //-           a.nav-link(href='/users/logout') Logout
    //-       else
    //-         li.nav-item 
    //-           a.nav-link(href="/users/login") Login
    main#site-main
      .container
        != messages('message', locals)
        if errors
          each error, i in errors
            .alert.alert-danger #{error.msg}
      block content
    br
    footer 
      p Copyright marcwsy &copy; 2022
