doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap' rel='stylesheet')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #e3f2fd;')
        .container-fluid
          a.navbar-brand(href='#') Jillian's Portfolio
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(aria-current='page' href='/home') Home
              li.nav-item
                a.nav-link(href='/modeling') 3D Modeling
              li.nav-item
                a.nav-link(href='/animation') 2D Animation
              li.nav-item
                a.nav-link(href='/illustration') Illustration
            ul.navbar-nav.ml-auto
              if user
                li.nav-item
                  a.nav-link(href="/home/update") Edit
                li.nav-item
                  a.nav-link(href='/users/logout') Logout
              else
                li.nav-item 
                  a.nav-link(href="/users/login") Login 
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
    block content
    br
    footer 
      p Copyright marcwsy &copy; 2022
