extends layout

block content
    h1 3D Modeling
    if user
        a(href='./modeling/upload') Upload
        each val in files  
            ul
                li
                    img(src=`/modeling/image/${val._id}`)
    else
        each val in files  
            ul
                li
                    img(src=`/modeling/image/${val._id}`)